<!-- similar to faculty-form.html file from soitfaculty -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- can change title tag later to something we see fit -->
	<title>Unorganized</title>
</head>
<body>
<div class="contianer">
<h4>Task Manager</h4>									<!-- need to find path and put it in line below -->
<a class="btn btn-primary" data-bs-toggle="collapse" th:href="@{//}" role="button" aria-expanded="false" aria-controls="collapseExample">
List of Tasks</a>

<!-- Invisible form as needed to update -->
	<input type="hidden" th:field="*{id}"/>
	


<p class="h4 mb-4">Register Faculty</p>
<form action="#" th:action="@{/Tasks/save}" th:object="${task}" method="POST"></form>


<input type="text" th:field="*{taskName}"
class="form-control mb-4 col-4" placeholder="Task Name">

<input type="text" th:field="*{taskDescription}"
class="form-control mb-4 col-4" placeholder="Task Description">


</div>

</body>
</html>